# Frontend (se incorpora durante npm run build)
VITE_API_URL=https://mvp-ia-1a4u.onrender.com/

# API
PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ia_mvp
DATABASE_SSL=false
CORS_ORIGIN=https://mvp-ia-1a4u.onrender.com/
